<!-- Image-->

<div class="position-relative"  data-aos="fade-up">
    <img src="../../../assets/images/about/abouthero-min2.jpg" class="img-fluid d-none d-lg-block" alt="Service Image">
    <img src="../../../assets/images/about/abouthero-min2.jpg" class="img-fluid vh-40 d-block d-lg-none"
        alt="Service Image">

    <div class="text-white position-absolute bottom-0 m-5 d-none d-lg-block ">
        <h3 class="fs-3">Get to Know</h3>
        <h1 class="fs-1 fw-bolder">UNISAN</h1>
        <p class="fs-3">Our Story, Our Visions, Our Culture</p>
    </div>

    <div class="text-white position-absolute bottom-0 m-5 d-block d-lg-none">
        <h5>Get to Know</h5>
        <h2 class="fs-2 fw-bolder">UNISAN</h2>
        <p>From Design to Development to Data Analysis.</p>
    </div>
</div>

<!-- Navbar -->

<div class="position-absolute top-0 start-0 w-100">
    <app-header></app-header>
</div>

<!-- Main Content -->

<!-- About Us  -->
<div class="container mt-6">
    <div class="row">
        <div class="col-md-7" data-aos="fade-up">
            <h2 class="title fs-1">About Us</h2>
            <span class="fw-semibold fs-4">Why are are working so hard?</span>
            <p class="mt-5 text-justify">
                EVERYONE IS TALKING ABOUT AI. But what if we implement human creativity with Al?
                Experience and innovation with technology make us much more advanced to get the use of creativity within
                our
                projects. What you provide is all you like. We are here with creativity and quality. Skills and
                technology
                this is what we look on to deliver <b>"Quality over quantity"</b>. We are always open to offering help
                to our
                most
                valuable clients who have a bigger vision to grow and expand their social circle for their offerings.
            </p>
        </div>
        <div class="col-md-5" data-aos="fade-up">
            <img src="../../../assets/images/about/professional_grp.jpg" class="img-fluid rounded shadow" width="500"
                height="500">
        </div>
    </div>
</div>

<!-- Mission - Vision -->
<div class="primarycolor">
    <div class="container mt-6">
        <div class="row py-5 text-white">
            <div class="col-md-6">
                <h2 class="title fs-1" data-aos="fade-down">Our Mission</h2>
                <p class="mt-3 text-justify" data-aos="fade-up">Modify the business technically by providing advanced
                    technical
                    solutions and
                    implementing that in their business.
                </p>
            </div>
            <div class="col-md-6">
                <h2 class="title fs-1" data-aos="fade-down">Our Vision</h2>
                <p class="mt-3 text-justify" data-aos="fade-up">Make technology a gift and provide a better use of it to
                    our
                    business partners and clients.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- How we work  -->
<div class="container mt-6">
    <h2 class="title fs-1" data-aos="fade-down">How we work?</h2>
    <span class="fw-semibold fs-4 " data-aos="fade-up">UNISAN's Design and <br /> Development
        Methodology</span>

    <!-- Items -->
    <div class="row mt-5 align-items-center p-md-5">
        <div class="col" data-aos="fade-up">
            <img src="../../../assets/images/about/2894599.jpg" class=" img-fluid rounded-circle shadow" width="150">
        </div>
        <div class="col-8 col-md-9" data-aos="fade-up">
            <span class="fw-semibold lead">We gather information to what our clients needs.</span>
        </div>
    </div>

    <div class="row mt-5 align-items-center p-md-5">
        <div class="col-8 col-md-9" data-aos="fade-up">
            <span class="fw-semibold lead">Then we look on what else we can provide to make it more valuable.</span>
        </div>
        <div class="col" data-aos="fade-up">
            <img src="../../../assets/images/about/5326066.jpg" class=" img-fluid rounded-circle shadow" width="150">
        </div>
    </div>

    <div class="row mt-5 align-items-center p-md-5">
        <div class="col" data-aos="fade-up">
            <img src="../../../assets/images/about/45684145.jpg" class=" img-fluid rounded-circle shadow" width="150">
        </div>
        <div class="col-8 col-md-9" data-aos="fade-up">
            <span class="fw-semibold lead">We gather data and images from our clients which needs to be
                incorporated.</span>
        </div>
    </div>

    <div class="row mt-5 align-items-center p-md-5">
        <div class="col-8 col-md-9" data-aos="fade-up">
            <span class="fw-semibold lead">We build a design which may fulfil the satisfaction of it may look.</span>
        </div>
        <div class="col" data-aos="fade-up">
            <img src="../../../assets/images/about/3054120.jpg" class=" img-fluid rounded-circle shadow" width="150">
        </div>
    </div>

    <div class="row mt-5 align-items-center p-md-5">
        <div class="col" data-aos="fade-up">
            <img src="../../../assets/images/about/4529164.jpg" class="img-fluid rounded-circle shadow" width="150">
        </div>
        <div class="col-8 col-md-9" data-aos="fade-up">
            <span class="fw-semibold lead">Getting the design finalized and moving on to development.</span>
        </div>
    </div>

    <div class="row mt-5 align-items-center p-md-5">
        <div class="col-8 col-md-9" data-aos="fade-up">
            <span class="fw-semibold lead">Once the design is approved, we move into the development phase.</span>
        </div>
        <div class="col" data-aos="fade-up">
            <img src="../../../assets/images/about/20943760.jpg" class=" img-fluid rounded-circle shadow" width="150">
        </div>
    </div>

    <div class="row mt-5 align-items-center p-md-5">
        <div class="col" data-aos="fade-up">
            <img src="../../../assets/images/about/2113868.jpg" class="img-fluid rounded-circle shadow" width="150">
        </div>
        <div class="col-8 col-md-9" data-aos="fade-up">
            <span class="fw-semibold lead">Project is completed and then served to our clients.</span>
        </div>
    </div>
</div>

<!-- Our Culture -->
<div class="container mt-6">
    <h2 class="title fs-1 mb-5" data-aos="fade-up">Our Culture</h2>
    <div class="row text-center align-self-center gap-3" data-aos="fade-down">
        <div class="col-md-6 col-lg">
            <img src="../../../assets/images/about/2909877.jpg" class="img-fluid rounded-circle w-50 shadow">
            <div class="fw-semibold fs-5 mt-3">Creativity and Innovation</div>
        </div>

        <div class="col-md-6 col-lg">
            <img src="../../../assets/images/about/4529196.jpg" class="img-fluid rounded-circle w-50 shadow">
            <div class="fw-semibold fs-5 mt-3">Collaboration and Communication</div>
        </div>
        
        <div class="col-md-6 col-lg">
            <img src="../../../assets/images/about/6736639.jpg" class="img-fluid rounded-circle w-50 shadow">
            <div class="fw-semibold fs-5 mt-3">Continuous Growth and Development</div>
        </div>

        <div class="col-md-6 col-lg">
            <img src="../../../assets/images/about/2968304.jpg" class="img-fluid rounded-circle w-50 shadow">
            <div class="fw-semibold fs-5 mt-3">Customer Satisfaction</div>
        </div>
    </div>
</div>

<!-- Help you Build -->
<div class="container mt-6 mb-6">
    <div class="row align-items-center">
        <div class="col-md-7" data-aos="fade-up">
            <span class="fw-semibold fs-2 ">We'd like to help you build, your dream project.</span>
        </div>
        <div class="col-md-5 p-3" data-aos="fade-up">
            <a type="button" class="btn btn-outline-secondary btn-lg px-5 py-3 d-none d-lg-block"
                routerLink="/contact">Let's Colloborate</a>
            <a type="button" class="btn btn-outline-secondary py-3 d-block d-lg-none w-50" routerLink="/contact">Let's
                Colloborate</a>
        </div>
    </div>
</div>


<!-- Footer -->
<Footer class="primarycolor">
    <app-footer></app-footer>
</Footer>