.mb-6{
    margin-bottom: 6rem;
}

.mt-6{
    margin-top: 6rem;
}

.vh-40{
    height: 40vh;
}

.title{
    border-left: 5px solid darkgoldenrod;
    padding-left: 10px;
    color: darkgoldenrod;
    font-weight: 700;
}

.text-justify{
    text-align: justify;
}

.primarycolor{
    background-color: rgba(24,52,99,255)
}

.container{
    color:#454545;
}