<!-- Image-->
<div class="position-relative">
    <img src="../../../assets/images/process/Hero Image.jpg" class="img-fluid d-none d-lg-block" alt="Service Image">
    <img src="../../../assets/images/process/Hero Image.jpg" class="img-fluid vh-40 d-block d-lg-none"
        alt="Service Image">

    <div class="text-white position-absolute bottom-0 m-5 d-none d-lg-block ">
        <h1 class="fs-1 fw-bolder">Collaborative and Transparent</h1>
        <p class="fs-3">Our Process for Delivering Top -Tier.</p>
    </div>

    <div class="text-white position-absolute bottom-0 m-5 d-block d-lg-none">
        <h2 class="fs-2 fw-bolder">Collaborative and Transparent</h2>
        <p>Our Process for Delivering Top -Tier.</p>
    </div>
</div>

<!-- Navbar -->
<div class="position-absolute top-0 start-0 w-100">
    <app-header></app-header>
</div>

<!-- Main Content -->
<div class="container  mt-6">

    <div class="row mt-6 align-items-center" data-aos="fade-up">
        <div class="col-md-4 mb-3 d-block d-lg-none">
            <img src="../../../assets/images/process/1. Market Research.jpg" class="img-fluid rounded shadow" width="400"
                height="400">
        </div>
        <div class="col-md-8">
            <h2 class="title">1. Market Research and Lead Generation</h2>
            <ul class="fs-4">
                <li>Identify target markets and industries that align with your expertise.</li>
                <li>Conduct market research to understand the needs, trends, and competition.</li>
                <li>Generate leads through various channels such as networking, referrals, marketing campaigns, and
                    online platforms.</li>
            </ul>
        </div>
        <div class="col-md-4 mb-3 d-none d-lg-block">
            <img src="../../../assets/images/process/1. Market Research.jpg" class="img-fluid rounded shadow" width="400"
                height="400">
        </div>
    </div>

    <div class="row mt-6 align-items-center" data-aos="fade-up">
        <div class="col-md-4 mb-3">
            <img src="../../../assets/images/process/2. Initial Contact.jpg" class="img-fluid rounded shadow" width="400"
                height="400">
        </div>
        <div class="col-md-8">
            <h2 class="title">2. Initial Contact and Qualification</h2>
            <ul class="fs-4">
                <li>Engage with potential clients through initial contact,
                    whether it's through email, phone, or in-person
                    meetings.</li>
                <li>Understand the client's requirements, goals, and
                    budget.</li>
                <li>Assess if the client's needs align with your
                    capabilities and if it's a good fit for both parties.</li>
            </ul>
        </div>
    </div>

    <div class="row mt-6 align-items-center" data-aos="fade-up">
        <div class="col-md-4 mb-3 d-block d-lg-none">
            <img src="../../../assets/images/process/3. Requirement Gathering.jpg" class="img-fluid rounded shadow" width="400"
                height="400">
        </div>
        <div class="col-md-8">
            <h2 class="title">3. Requirements Gathering and Analysis</h2>
            <ul class="fs-4">
                <li>Conduct detailed discussions with the client to
                    gather requirements and understand their business
                    objectives.</li>
                <li>Ask relevant questions to clarify ambiguities and
                    uncover any hidden requirements.</li>
                <li>Analyze the gathered information to identify the
                    scope of work, project constraints, and deliverables.</li>
            </ul>
        </div>
        <div class="col-md-4 mb-3 d-none d-lg-block">
            <img src="../../../assets/images/process/3. Requirement Gathering.jpg" class="img-fluid rounded shadow" width="400"
                height="400">
        </div>
    </div>

    <div class="row mt-6 align-items-center" data-aos="fade-up">
        <div class="col-md-4 mb-3">
            <img src="../../../assets/images/process/4. Proposal agreement.jpg" class="img-fluid rounded shadow" width="400"
                height="400">
        </div>
        <div class="col-md-8">
            <h2 class="title">4. Proposal and Agreement</h2>
            <ul class="fs-4">
                <li>Prepare a detailed proposal that includes project
                    scope, timeline, budget, and terms of engagement.</li>
                <li>Present the proposal to the client, highlighting the
                    value proposition and how your services meet their
                    needs.</li>
                <li>Negotiate and finalize the terms of the agreement,
                    ensuring both parties are satisfied and protected
                    legally.</li>
            </ul>
        </div>
    </div>

    <div class="row mt-6 align-items-center" data-aos="fade-up">
        <div class="col-md-4 mb-3 d-block d-lg-none">
            <img src="../../../assets/images/process/5. Project planning.jpg" class="img-fluid rounded shadow" width="400"
                height="400">
        </div>
        <div class="col-md-8">
            <h2 class="title">5. Project Planning</h2>
            <ul class="fs-4">
                <li>Create a comprehensive project plan that includes
                    tasks, milestones, resource allocation, and
                    dependencies.</li>
                <li>Create a comprehensive project plan that includes
                    tasks, milestones, resource allocation, and
                    dependencies.</li>
                <li>Determine the technologies, tools, and frameworks
                    required for the project.</li>
            </ul>
        </div>
        <div class="col-md-4 mb-3 d-none d-lg-block">
            <img src="../../../assets/images/process/5. Project planning.jpg" class="img-fluid rounded shadow" width="400"
                height="400">
        </div>
    </div>

    <div class="row mt-6 align-items-center" data-aos="fade-up">
        <div class="col-md-4 mb-3">
            <img src="../../../assets/images/process/6. Design and Development.jpg" class="img-fluid rounded shadow"
                width="400" height="400">
        </div>
        <div class="col-md-8">
            <h2 class="title">6. Design and Development</h2>
            <ul class="fs-4">
                <li>Start the design phase by creating wireframes,
                    mockups, and user experience (UX) designs based
                    on the client's requirements.</li>
                <li>Develop the website or software application using
                    the appropriate technologies, adhering to coding
                    standards and best practices.</li>
                <li>Implement feedback loops and iterative
                    development cycles to incorporate client feedback
                    and ensure alignment with their expectations.</li>
            </ul>
        </div>
    </div>

    <div class="row mt-6 align-items-center" data-aos="fade-up">
        <div class="col-md-4 mb-3 d-block d-lg-none">
            <img src="../../../assets/images/process/7. Quality assurance and Testing.jpg" class="img-fluid rounded shadow"
                width="400" height="400">
        </div>
        <div class="col-md-8">
            <h2 class="title">7. Quality Assurance and Testing</h2>
            <ul class="fs-4">
                <li>Conduct rigorous testing of the developed solution
                    to ensure it meets functional and non-functional
                    requirements.</li>
                <li>Perform unit testing, integration testing, system
                    testing, and user acceptance testing (UAT).</li>
                <li>Fix any bugs or issues identified during the testing
                    phase.</li>
            </ul>
        </div>
        <div class="col-md-4 mb-3 d-none d-lg-block">
            <img src="../../../assets/images/process/7. Quality assurance and Testing.jpg" class="img-fluid rounded shadow"
                width="400" height="400">
        </div>
    </div>

    <div class="row mt-6 align-items-center" data-aos="fade-up">
        <div class="col-md-4 mb-3">
            <img src="../../../assets/images/process/8. Launch and deployment.jpg" class="img-fluid rounded shadow" width="400"
                height="400">
        </div>
        <div class="col-md-8">
            <h2 class="title">8. Deployment and Launch</h2>
            <ul class="fs-4">
                <li>Prepare for the deployment of the developed
                    solution, including server setup, hosting, and
                    domain configuration.</li>
                <li>Migrate the website or software application to the
                    production environment.</li>
                <li>Conduct final checks and ensure everything is
                    functioning correctly before the oÂcial launch.</li>
            </ul>
        </div>
    </div>

    <div class="row mt-6 align-items-center" data-aos="fade-up">
        <div class="col-md-4 mb-3 d-block d-lg-none">
            <img src="../../../assets/images/process/9. Support and Maintenace.jpg" class="img-fluid rounded shadow"
                width="400" height="400">
        </div>
        <div class="col-md-8">
            <h2 class="title">9. Post Launch Support and Maintenance</h2>
            <ul class="fs-4">
                <li>Provide ongoing technical support and maintenance
                    services to address any issues or enhancements
                    after the launch.</li>
                <li>Offer training and documentation to assist the client
                    in using and maintaining the solution effectively.</li>
                <li>Continuously monitor and optimize the performance
                    of the website or software application.</li>
            </ul>
        </div>
        <div class="col-md-4 mb-3 d-none d-lg-block">
            <img src="../../../assets/images/process/9. Support and Maintenace.jpg" class="img-fluid rounded shadow"
                width="400" height="400">
        </div>
    </div>

    <div class="row mt-6 align-items-center" data-aos="fade-up">
        <div class="col-md-4 mb-3">
            <img src="../../../assets/images/process/10. Client relationship management.jpg" class="img-fluid rounded shadow"
                width="400" height="400">
        </div>
        <div class="col-md-8">
            <h2 class="title">10. Client Relationship Management</h2>
            <ul class="fs-4">
                <li>Foster strong relationships with clients by
                    maintaining regular communication and addressing
                    their concerns promptly.</li>
                <li>Seek feedback from clients to identify areas for
                    improvement and gather testimonials or referrals for
                    future business opportunities.</li>
                <li>Explore opportunities for upselling or cross-selling
                    additional services based on the
                    client's evolving needs.</li>
            </ul>
        </div>
    </div>
</div>

<!-- Footer -->
<Footer class="primarycolor mt-6">
    <app-footer></app-footer>
</Footer>