<!-- Image-->

<div class="position-relative" data-aos="fade-up">
    <img src="../../../assets/images/services/services2-min.jpg" class="img-fluid d-none d-lg-block" alt="Service Image">
    <img src="../../../assets/images/services/services2-min.jpg" class="img-fluid vh-40 d-block d-lg-none"
        alt="Service Image">

    <div class="text-white position-absolute bottom-0 m-5 d-none d-lg-block ">
        <h1 class="fs-1 fw-bolder">Expert IT Services</h1>
        <p class="fs-3">From Design to Development to Data Analysis.</p>
    </div>

    <div class="text-white position-absolute bottom-0 m-5 d-block d-lg-none">
        <h2 class="fs-2 fw-bolder">Expert IT Services</h2>
        <p>From Design to Development to Data Analysis.</p>
    </div>
</div>

<!-- Navbar -->

<div class="position-absolute top-0 start-0 w-100">
    <app-header></app-header>
</div>

<!-- Main Content -->

<!-- Three Session  -->

<div class="container  mt-6">
    <div class="row text-center align-self-center gap-3 mt-5">
        <div class="col-md">
            <a [routerLink]="['.']" fragment="design" class="text-decoration-none">
                <img src="../../../assets/images/home/uiux.jpg" class="rounded w-100 shadow">
                <div class="fw-semibold fs-5 mt-3">UI/UX Design</div>
            </a>
        </div>

        <div class="col-md">
            <a [routerLink]="['.']" fragment="analysts" class="text-decoration-none">
                <img src="../../../assets/images/home/dataanalyst.jpg" class="rounded w-100 shadow">
                <div class="fw-semibold fs-5 mt-3">Data Analyst</div>
            </a>
        </div>

        <div class="col-md">
            <a [routerLink]="['.']" fragment="development" class="text-decoration-none">
                <img src="../../../assets/images/home/development.jpg" class="rounded w-100 shadow">
                <div class="fw-semibold fs-5 mt-3">Web Development</div>
            </a>
        </div>
    </div>
</div>


<!-- UI/UX Designer -->
<div id="design"></div>
<div class="container  mt-10">
    <div class="row mt-5 align-items-center position-relative" data-aos="fade-up">
        <h1 class="fw-bolder gradient-text position-absolute d-none d-lg-block" style="top: -8vw; font-size:12vw">UI/UX
            Design</h1>
        <h1 class="fw-bolder md-text d-block d-lg-none" style="font-size:12vw">UI/UX Design</h1>
        <div class="col-md-5 d-block d-lg-none mb-3">
            <img src="../../../assets/images/services/design_1.jpg" class="img-fluid rounded shadow">
        </div>
        <div class="col-md-7">
            <p class="text-justify fs-5">
                At UNISAN, we believe that a well-designed user interface (UI) and user experience (UX) is essential
                for the success of any digital product. Our UI/ UX design service is focused on creating engaging
                and intuitive interfaces for websites and mobile apps that meet the needs of your users and align
                with your business objectives. Our team of experienced designers uses a data-driven approach to
                develop user-centered interfaces that improve usability and enhance the user experience.
            </p>
        </div>
        <div class="col-md-5 d-none d-lg-block">
            <img src="../../../assets/images/services/design_1.jpg" class="img-fluid rounded shadow">
        </div>
    </div>

    <div class="row mt-5 align-items-center" data-aos="fade-up">
        <div class="col-md-5 mb-3">
            <img src="../../../assets/images/services/design_2.jpg" class="img-fluid rounded shadow">
        </div>
        <div class="col-md-7">
            <p class="text-justify fs-5">
                We conduct user research to understand your target audience, their needs, and behaviors. This helps
                us to design interfaces that are easy to use, intuitive, and provide a seamless user experience. We
                also follow best practices in information architecture, interaction design, and visual design to
                create interfaces that are not only functional but also aesthetically pleasing. We understand that
                every business is unique, so we tailor our design solutions to meet the specific needs of your
                business and align with your brand identity.
            </p>
        </div>
    </div>

    <div class="row mt-5 align-items-center" data-aos="fade-up">
        <div class="col-md-5 d-block d-lg-none mb-3">
            <img src="../../../assets/images/services/design_3.jpg" class="img-fluid rounded shadow">
        </div>
        <div class="col-md-7">
            <p class="text-justify fs-5">
                We also conduct usability testing to ensure that the interfaces we design meet the needs of your
                users. This helps us to identify areas for improvement and make data-driven design decisions. With
                our UI/UX design service, you can expect an optimized user experience, resulting in increased
                engagement, improved conversion rates, and overall business growth. With our UI/UX design service,
                you can expect an optimized user experience, resulting in increased engagement, improved conversion
                rates, and overall business growth.
            </p>
        </div>
        <div class="col-md-5 d-none d-lg-block">
            <img src="../../../assets/images/services/design_3.jpg" class="img-fluid rounded shadow">
        </div>
    </div>
</div>

<!-- Software we Used for Design -->
<div class="container  mt-6">
    <h2 class="title fs-1 mb-5">Software we used for Design</h2>
    <div class="row-md text-center gap-4 d-flex justify-content-center">
        <div class="col-lg d-lg-flex justify-content-center align-items-center gap-3">
            <img src="../../../assets/images/services/Design/figma.png" class="img-fluid rounded-circle" width="100"
                height="100">
            <div class="fw-semibold fs-5">Figma</div>
        </div>

        <div class="col-lg d-lg-flex justify-content-center align-items-center gap-3">
            <img src="../../../assets/images/services/Design/adobe.png" class="img-fluid rounded-circle" width="100"
                height="100">
            <div class="fw-semibold fs-5">Adobe XD</div>
        </div>

        <div class="col-lg d-lg-flex justify-content-center align-items-center gap-3">
            <img src="../../../assets/images/services/Design/photoshop.png" class="img-fluid rounded-circle" width="100"
                height="100">
            <div class="fw-semibold fs-5">Photoshop</div>
        </div>
    </div>
</div>

<!-- Data Analyst -->
<div id="analysts"></div>
<div class="container  mt-10">
    <div class="row mt-5 align-items-center" data-aos="fade-up">
        <h1 class="fw-bolder gradient-text position-absolute d-none d-lg-block" style="top: -10vw; font-size:13vw">Data
            Analyst</h1>
        <h1 class="fw-bolder md-text d-block d-lg-none" style="font-size:10vw">Data Analyst</h1>
        <div class="col-md-5 mb-3">
            <img src="../../../assets/images/services/data_analyst_1.jpg" class="img-fluid rounded shadow">
        </div>
        <div class="col-md-7">
            <p class="text-justify fs-5">
                At UNISAN, our data analysts specialize in providing insights and making data-driven decisions to
                help businesses achieve their goals. Our team uses various tools and techniques to analyze and
                interpret data, including statistical analysis, data modeling, and machine learning. We work closely
                with our clients to understand their business objectives and data needs. We analyze their data to
                identify trends, patterns, and insights that can help them make informed decisions and improve their
                operations.
            </p>
        </div>
    </div>

    <div class="row mt-5 align-items-center" data-aos="fade-up">
        <div class="col-md-5 d-block d-lg-none mb-3">
            <img src="../../../assets/images/services/data_analyst_2.jpg" class="img-fluid rounded shadow">
        </div>
        <div class="col-md-7">
            <p class="text-justify fs-5">
                Our data analysts are skilled at transforming complex data sets into actionable insights that can
                drive business growth. Our data analysis services include data cleaning, data modeling, data
                visualization, and statistical analysis. We use a variety of software and programming languages such
                as Python, R, and SQL to extract insights and provide actionable recommendations.
            </p>
        </div>
        <div class="col-md-5 d-none d-lg-block">
            <img src="../../../assets/images/services/data_analyst_2.jpg" class="img-fluid rounded shadow">
        </div>
    </div>

    <div class="row mt-5 align-items-center" data-aos="fade-up">
        <div class="col-md-5 mb-3">
            <img src="../../../assets/images/services/data_analyst_3.jpg" class="img-fluid rounded shadow">
        </div>
        <div class="col-md-7">
            <p class="text-justify fs-5">
                Our data analysts have experience working across industries, including healthcare, finance, retail,
                and more. We are committed to delivering high-quality work that is tailored to our clients' specific
                needs and objectives. With our data analysis service, you can expect actionable insights that will
                help you make data-driven decisions and drive business growth.
            </p>
        </div>
    </div>
</div>

<!-- Software we Used for Data Analyst -->
<div class="container  mt-6">
    <h2 class="title fs-1 mb-5">Software we used for Data Analyst</h2>
    <div class="row-md text-center gap-3 d-flex justify-content-center">
        <div class="col-lg d-lg-flex justify-content-center align-items-center gap-3">
            <img src="../../../assets/images/services/Analyst/1. Data Analyst Excel.png"
                class="img-fluid rounded-circle" width="100" height="100">
            <div class="fw-semibold fs-5">Excel</div>
        </div>

        <div class="col-lg d-lg-flex justify-content-center align-items-center gap-3">
            <img src="../../../assets/images/services/Analyst/2. Data Analyst Python.png"
                class="img-fluid rounded-circle" width="100" height="100">
            <div class="fw-semibold fs-5">Python</div>
        </div>

        <div class="col-lg d-lg-flex justify-content-center align-items-center gap-3">
            <img src="../../../assets/images/services/Analyst/3. Data Analyst R.png" class="img-fluid rounded-circle"
                width="100" height="100">
            <div class="fw-semibold fs-5">R</div>
        </div>
        <div class="col-lg d-lg-flex justify-content-center align-items-center gap-3">
            <img src="../../../assets/images/services/Analyst/4. Data Analyst Tableau.png"
                class="img-fluid rounded-circle" width="100" height="100">
            <div class="fw-semibold fs-5">Tableau</div>
        </div>
    </div>
</div>

<!-- Web Development -->
<div id="development"></div>
<div class="container  mt-10">
    <div class="row mt-5 align-items-center" data-aos="fade-up">
        <h1 class="fw-bolder gradient-text position-absolute d-none d-lg-block" style="top: -5vw; font-size:9vw">Web
            Development</h1>
        <h1 class="fw-bolder md-text d-block d-lg-none" style="font-size:10vw">Web Development</h1>
        <div class="col-md-5 d-block d-lg-none mb-3">
            <img src="../../../assets/images/services/web_1.jpg" class="img-fluid rounded">
        </div>
        <div class="col-md-7">
            <p class="text-justify fs-5">
                At UNISAN, we specialize in developing high-quality websites that are optimized for performance,
                functionality, and user experience. Our web development service is focused on building custom
                websites that meet the specific needs of your business and align with your brand identity. Our team
                of expert developers follows a structured development process to ensure that your website is fully
                functional, responsive, and secure.
            </p>
        </div>
        <div class="col-md-5 d-none d-lg-block">
            <img src="../../../assets/images/services/web_1.jpg" class="img-fluid rounded">
        </div>
    </div>

    <div class="row mt-5 align-items-center" data-aos="fade-up">
        <div class="col-md-5 mb-3">
            <img src="../../../assets/images/services/web_2.jpg" class="img-fluid rounded">
        </div>
        <div class="col-md-7">
            <p class="text-justify fs-5">
                We use the latest technologies and industry standards to build websites that are easy to use,
                intuitive, and provide a seamless user experience. We also conduct rigorous testing to ensure that
                your website meets quality standards and performs flawlessly on all devices. This helps us to
                identify and fix any issues before launching your website, ensuring that your users have a positive
                experience when interacting with your website.
            </p>
        </div>
    </div>

    <div class="row mt-5 align-items-center" data-aos="fade-up">
        <div class="col-md-5 d-block d-lg-none mb-3">
            <img src="../../../assets/images/services/web_3.jpg" class="img-fluid rounded">
        </div>
        <div class="col-md-7">
            <p class="text-justify fs-5">
                We offer a range of web development services, including e-commerce solutions, content management
                systems, and custom web applications. We work closely with you to understand your business goals and
                requirements, ensuring that we provide a solution that meets your needs. With our web development
                service, you can expect a professional website that reflects your brand identity, engages your
                target audience, and drives business growth. Our goal is to provide you with a website that not only
                meets your needs but exceeds your expectations.
            </p>
        </div>
        <div class="col-md-5 d-none d-lg-block">
            <img src="../../../assets/images/services/web_3.jpg" class="img-fluid rounded">
        </div>
    </div>
</div>

<!-- Software we Used for Development -->
<div class="container  mt-6 mb-6">
    <h2 class="title fs-1 mb-5">Software we used for Development</h2>
    <!-- First Row -->
    <div class="row-md text-center gap-3 d-flex justify-content-center">
        <div class="col-lg d-lg-flex justify-content-center align-items-center gap-3">
            <img src="../../../assets/images/services/Web/1. Web development Angular.png"
                class="img-fluid rounded-circle" width="100" height="100">
            <div class="fw-semibold fs-5">Angular</div>
        </div>

        <div class="col-lg d-lg-flex justify-content-center align-items-center gap-3">
            <img src="../../../assets/images/services/Web/2. Web development ReactJs.png"
                class="img-fluid rounded-circle" width="100" height="100">
            <div class="fw-semibold fs-5">React</div>
        </div>

        <div class="col-lg d-lg-flex justify-content-center align-items-center gap-3">
            <img src="../../../assets/images/services/Web/3. Web development GitHub.png"
                class="img-fluid rounded-circle" width="100" height="100">
            <div class="fw-semibold fs-5">Github</div>
        </div>
        <div class="col-lg d-lg-flex justify-content-center align-items-center gap-3">
            <img src="../../../assets/images/services/Web/4. Web development nodejs.png"
                class="img-fluid rounded-circle" width="100" height="100">
            <div class="fw-semibold fs-5">NodeJS</div>
        </div>
    </div>

    <!-- Second Row -->
    <div class="row-md text-center gap-3 d-flex justify-content-center mt-4">
        <div class="col-lg d-lg-flex justify-content-center align-items-center gap-3">
            <img src="../../../assets/images/services/Web/5. Web development MongoDB.png"
                class="img-fluid rounded-circle" width="100" height="100">
            <div class="fw-semibold fs-5">Mongo</div>
        </div>

        <div class="col-lg d-lg-flex justify-content-center align-items-center gap-3">
            <img src="../../../assets/images/services/Web/6. Web development  MySQL.jpg"
                class="img-fluid rounded-circle" width="100" height="100">
            <div class="fw-semibold fs-5"> SQL</div>
        </div>

        <div class="col-lg d-lg-flex justify-content-center align-items-center gap-3">
            <img src="../../../assets/images/services/Web/7. Web development Cloud.jpg" class="img-fluid rounded-circle" 
                width="100" height="100">
            <div class="fw-semibold fs-5">Cloud</div>
        </div>
        <div class="col-lg d-lg-flex justify-content-center align-items-center gap-3">
            <img src="../../../assets/images/services/Web/8. Web development Express.png"
                class="img-fluid rounded-circle" width="100" height="100">
            <div class="fw-semibold fs-5">Express</div>
        </div>
    </div>
</div>

<!-- Footer -->
<Footer class="primarycolor">
    <app-footer></app-footer>
</Footer>