<!-- Navbar -->
<app-header2></app-header2>

<!-- Privacy Policy -->
<div class="container  mt-5 mb-8" data-aos="fade-up">
    <h2 class="title fs-3">Privacy Policy</h2>
    <span class="fw-semibold fs-5">Effective Date: Jan 1st, 2023 </span>
    <p class="mt-4 fw-semibold text-justify px-3">Welcome to UNISAN ("we, us, or our"). This Privacy Policy
        describes how we collect, use,
        disclose,
        and protect the personal information of our users. By accessing or using our website and services,
        you
        consent to the collection and use of your personal information as described in this Privacy Policy.
    </p>
    <div class="card p-4 mt-5 shadow">
        <div class="card-body text-justify">
            <h4 class="mb-4">Information We Collect</h4>
            <p>Personal Information: We may collect personal information such as your business information, name,
                and location that you voluntarily provide to us through our website, Google Forms, or third-party
                sources.
            </p>

            <hr class="my-5">

            <h4 class="mb-4">How We Collect Information</h4>
            <p>We collect personal information to provide better services and understand your business requirements.
                We may use the information to communicate with you, customize our services, and improve your user
                experience.</p>

            <hr class="my-5">

            <h4 class="mb-4">Use of Cookies</h4>
            <p>Currently, we do not use any cookies on our website.</p>

            <hr class="my-5">

            <h4 class="mb-4">Disclosure of Information</h4>
            <p>Presently, we do not share your personal information with any third parties.</p>

            <hr class="my-5">

            <h4 class="mb-4">Data Security</h4>
            <p>We strive to keep your personal information secure and employ reasonable security measures to
                prevent unauthorized access, disclosure, or loss of data. Your information is stored securely in
                cloud
                storage services like Google Drive.
            </p>

            <hr class="my-5">

            <h4 class="mb-4">Data Retention</h4>
            <p>We retain your personal information for as long as necessary to fulfill the purposes outlined in this
                Privacy Policy.</p>

            <hr class="my-5">

            <h4 class="mb-4">User Rights</h4>
            <p>You have the right to request access, modification, or deletion of your personal information. Please
                contact us using the information provided below to exercise these rights.</p>

            <hr class="my-5">

            <h4 class="mb-4">Third-Party Links</h4>
            <p>Our website may contain links to third-party websites or services. We are not responsible for the
                privacy practices or content of these third parties. We encourage you to review their privacy
                policies
                before providing any personal information.</p>

            <hr class="my-5">

            <h4 class="mb-4">Changes to the Privacy Policy</h4>
            <p>We may update this Privacy Policy from time to time. We will notify you of any material changes by
                posting the updated Privacy Policy on our website. Please review this Privacy Policy periodically.
            </p>

            <hr class="my-5">

            <h4 class="mb-4">Contact Us</h4>
            <p>If you have any questions, comments, or concerns about this Privacy Policy or our privacy practices,
                please contact us at <a href="mailto:adhiraj.unisan@gmail.com"
                    class="text-decoration-none">adhiraj.unisan@gmail.com</a>.
            </p>
        </div>
    </div>
</div>

<!-- Footer -->
<Footer class="primarycolor">
    <app-footer></app-footer>
</Footer>