<!-- Navbar -->
<app-header2></app-header2>

<!-- T&C -->
<div class="container mt-5 mb-8" data-aos="fade-up">
    <h2 class="title fs-3 mb-5">Terms and Conditions</h2>
    <div class="card p-4 shadow">
        <div class="card-body text-justify">
            <h4 class="mb-4">Introduction</h4>
            <p>The UNISAN is a self-owned organization. We have updated our Terms of Use and it will be
                implemented from 1st January 2023. Study more about our vision from our About us page.</p>

            <hr class="my-5">

            <h4 class="mb-4">Welcome to UNISAN!</h4>
            <p>UNISAN provides services under different niches according to the requirements of a business focusing
                on providing technical solutions for businesses to run their business smoothly.</p>

            <hr class="my-5">

            <h4 class="mb-4">The UNISAN Service</h4>
            <p>We agree to provide you with UNISAN Service. The Service includes all the features that are provided
                by UNISAN to boost their mission. We are focused on working with latest technologies to provide
                latest solutions to your businesses. The Service is made up of following aspects:</p>

            <p>Opportunity to connect with us for your business requirements – We are providing clients to connect
                with us and grow their business and let us handle technical challenge that are faced by the
                businesses while growing into their sector.</p>

            <p>Providing a latest technology tools set-up for your work – We are working with latest tools to
                provide our clients with latest works to grow and let them win the race by accelerating their
                business.</p>

            <p>Designers with experiences to fulfil your requirements – designers here are working continuously to
                meet your requirements with latest User experiences. Designers have experience in every domain to
                make your requirements fulfilled. We are also working with freelancers</p>

            <p>Developers with experiences to provide the best solution for your technical problems – We are having
                professional developers experienced in coding – designing HTML, software’s of a website for our
                client to help their business grow through making it global.</p>

            <p>Data Analyst and Visualization facility for businesses requirements – Our experts having experiences
                over data and working on data to find out insights from the data for our clients to help their
                businesses grow by helping them make better decisions. Our Data Engineers working with latest tools
                – Tableau, Excel for different phases of data cleaning and data visualization to build better
                insights from
                data.</p>

            <p>Providing consistent experiences to work smoothly - we are totally focused on providing quick results
                and bring quality into our work to match the requirements of our clients.</p>

            <p>Research and innovation - we are looking continuously, what’s new in the market to provide our
                clients the latest and in hand work as per the attest trends. Our team is continuously researching
                for new
                ways and trying to bring up innovation to build new solutions for our clients.</p>

            <hr class="my-5">

            <h4 class="mb-4">How our service is funded</h4>
            <p>Every Service has its price, and we are paid for the amount of time, efforts we give to our client.
                We
                also work on partnership basis for selected start-ups by reducing our cost and holding partnership
                into
                their business, helping them grow big and being the part of their success.</p>

            <hr class="my-5">

            <h4 class="mb-4">Data Policy</h4>
            <p>View might store your information to provide you better services.</p>

            <i><strong>Your Commitments</strong></i>
            <p>In return of providing the service, we require you to make the following commitments to us. Who can
                use Our Service - it can be used by business owners, employers, entrepreneurs and start-ups.</p>

            <hr class="my-5">

            <h4 class="mb-4">Privacy Policy</h4>
            <p>We at UNISAN value your privacy and are committed to protecting the personal
                information that you share with us. We collect your information in order to provide you
                with better services and to understand your requirements more effectively. The purpose of
                this privacy policy page is to inform you about how we collect, use, and protect your data. The
                sources of data collection may include our website, Google forms, and any other
                medium as required. The information we may collect may include your name, personal
                details such as email, phone number, and address, as well as company details and any
                other data that may be useful in providing you with better services by understanding your
                requirements.</p>

            <p>We may use your information to provide you with better services that will benefit you and
                your business in terms of growth, after understanding your requirements and researching
                your data.</p>

            <hr class="my-5">

            <h4 class="mb-4">Data Security</h4>
            <p>We take the security of your data seriously and have our own systems in place for storing
                your data without the use of any third parties.</p>

            <hr class="my-5">

            <h4 class="mb-4">Changes to our Policy</h4>
            <p>Any changes to our policy will be notified by updating our website. Please refer to the
                privacy policy section to stay informed about any changes. If you have any questions or concerns
                about our privacy policy, please contact us at <a href="mailto:adhiraj.unisan@gmail.com"
                    class="text-decoration-none">adhiraj.unisan@gmail.com</a> Thank you for choosing
                UNISAN for your business needs.</p>
        </div>
    </div>
</div>

<!-- Footer -->
<Footer class="primarycolor">
    <app-footer></app-footer>
</Footer>